@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kitap Yönetim Sistemi</h1>
    <a asp-controller="Kitap" asp-action="Index" class="btn btn-primary">Kitap Listesine Git</a>
    <a asp-controller="Kitap" asp-action="KitapEkle" class="btn btn-success ms-2">Yeni Kitap Ekle</a>
</div>
